@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan' , sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222 ;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin : 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal {
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    color: rgb(82, 51, 4);
    background-color: #b0a594 ;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s;
    font-family: 'Gill Sans MT';
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: purple;
    background-color:transparent;
    cursor: pointer;
    border:1px solid purple;
    outline: none;
    transition: 0.3s;
}

button.white2 {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background-color:transparent;
    cursor: pointer;
    border:3px solid whitesmoke;
    outline: none;
    transition: 0.3s;
}

body{
    width: 100%;
}


/*header*/  
#header{  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 80px;
    background-color: rgb(233, 215, 248);
    box-shadow: 0 1px 15px rgba(0, 0, 0 , 0.09);
    z-index: 999;
    position: sticky;
    top : 0;
    left : 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration : none;
    font-size : 18px;
    font-weight : 400;
    color : #7c24a4;
    transition : 0.2s ease;
    font-family: 'Lucida Sans';
}

#navbar li a:hover,
#navbar li a.active{
    color : black;
}

#navbar li a.active ::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: black ;
    position: absolute;
    bottom: -4px ;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}
#close{
    display: none;
}

/*Home page*/

#hero{
    background-image: url("images/hero.png");
    background-color: rgb(233, 215, 248);
    height :80vh;
    width: 100%;
    background-size:cover;
    background-position: top 25% right 0;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px; 
    color:#be89d7;
}
#hero h1{
    color:#7c24a4;
}

#hero button{
    font-size: larger;
    background-color: transparent;
    color: purple;
    border: 0;
    background-repeat: no-repeat;
    font-weight: 500;
    cursor: pointer;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 25px 15px ;
    box-shadow: 20px 20px 34px rgb(173, 173, 173);
    border: 1px solid #0f3fb7;
    border-radius: 8px;
    margin: 15px 0;

}

#feature .fe-box :hover{  /*box shadow fix it*/

    box-shadow: 20px 20px 34px  rgba(82, 82, 82, 0.1);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display:inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #38336b;
    background-color: #d2daee;
    font-family:'Lucida Sans';
    font-size: medium;
}

#feature .fe-box:nth-child(2) h6{
    background-color: rgb(247, 210, 216);
    color: palevioletred;

}

#feature .fe-box:nth-child(3) h6{
    background-color: rgb(184, 240, 184);
    color:green;
}

#feature .fe-box:nth-child(4) h6{
    background-color: rgb(222, 194, 245);
    color: rgb(122, 29, 122);

}

#feature .fe-box:nth-child(5) h6{
    background-color: rgb(245, 227, 204);
    color:brown;

}

#product1 {
    text-align: center;
}

#product1 h2 {
    color: rgb(121, 42, 157);
    font-family: 'Lucida Sans';
}

#product1 p {
    color: #7a1d97;
    font-family: 'Lucida Sans';
    font-size:20px;
}

#product1 .pro-container{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid rgb(70, 23, 94);
    border-radius: 25px;
    cursor: pointer;
    box-shadow:20px 20px 30px rgba(0, 0, 0 , 0.03) ;
    margin: 15px 0;
    transition: 0.3s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow:20px 20px 30px rgba(0, 0, 0 , 0.09) ;
}

#product1 .pro img {
    width: 50%;
    height: 50%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
     font-size: 12px;
     color: rgb(243,181,25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px ;
    font-weight: 700;
    color: purple ;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #f0e8f6;
    font-weight: 500;
    color: #7c24a4;
    border:1px solid  #cfade9;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: end;
    padding: 40px;
    background-image: url(images/banner/b1.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: rgb(113, 93, 67);
    font-size: 25px;
    font-weight: 800;
    font-family: 'Gill Sans MT';
}

#banner h2 {
    color: rgb(142, 100, 32);
    font-size: 45px;
    font-weight: 800;
    padding: 10px 0;
    font-family: 'Gill Sans MT';
}

#banner h2 span {
    color: rgb(161, 137, 62);
    font-family: 'Gill Sans MT';
}

#banner button:hover {
    background-color: rgb(165, 127, 66);
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 40px;
    background-image: url(images/banner/b2.jpeg);
    min-width: 540px;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

#sm-banner .banner-box2 {
    background-image: url(images/banner/b3.png);
}


#sm-banner h4 {
    color: #6c218f;
    font-weight: 600;
    font-size: 30px;
}

#sm-banner h2 {
    color: #d450ba;
    font-weight: 600;
    font-size: 50px;
}

#sm-banner span {
    color: #ba6ca9;
    font-weight: 600;
    padding-bottom: 15px ;
}

#sm-banner .banner-box:hover button {
    background: rgb(204, 171, 219);
    border: 1px solid rgb(204, 171, 219);
}

#sm-banner .banner-box2 h4 {
    color: white;
}

#sm-banner .banner-box2 h2 {
    color: white;
}

#sm-banner .banner-box2 span {
    color: white;
    font-size: large;
    font-weight: 800;
}

#sm-banner .banner-box2:hover button {
    background: white;
    border: 1px solid whitesmoke;
    color: black;
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding: 20px;
    background-image: url(images/banner/b4.jpeg);
    min-width: 30%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

#banner3 .banner-box2{
    background-image: url(images/banner/b5.png);
}

#banner3 .banner-box3{
    background-image: url(images/banner/b6.png);

}

#banner3 h2 {
    color:rgb(177, 19, 72);
    font-weight: 700;
    font-size: 35px;
}

#banner3 .banner-box2 h2 {
    color:purple;
    font-weight: 700;
    font-size: 35px;
}

#banner3 .banner-box3 h2 {
    color:rgb(128, 62, 0);
    font-weight: 700;
    font-size: 35px;
}

#banner3 h3 {
    color: white;
    font-weight: 700;
    font-size: 45px;
}


#banner3 .banner-box2{
    background-image: url(images/banner/b5.png);
}

#banner3 .banner-box3{
    background-image: url(images/banner/b6.png);

}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(233, 215, 248) ;
    background-repeat: no-repeat;
    background-position: 20% 30%;
}

#newsletter h3 {
    font-size: 20px;
    font-weight: 600;
    color: #6c218f;
    font-family:'Lucida Sans';
}

#newsletter h3 {
    font-size: 20px;
    font-weight: 600;
    color: rgb(78, 65, 91);
    font-family:'Lucida Sans';
}

#newsletter h3 span {
    color: rgb(145, 143, 147);
    color: #6c218f;
}

#newsletter input{
    height: 3rem;
    padding: 1 1.25em;
    font-size: 14px ;
    width: 100%;
    border: 1px solid purple;
    outline: none; 
    margin-bottom: 10px;
    margin-top: 10px; 
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
    color: #7a1d97;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
    color: #7a1d97;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #7a1d97;
    margin-bottom: 10px ;
}

footer .follow {
    margin-top: 20px;
}

footer .follow{
    color:#7c24a4;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
        border: 1px solid purple;
        border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
    color: black;
}
footer .copyright {
    width: 100%;
    text-align: center;
}


/*shop page starts*/

#page-header {
    position: relative;
    width: 100%; 
    max-width: 1300px; 
    margin: 0 auto; 
}
video {
    display: block;
    width: 100%; 
    height: auto;
}

#page-header h2{
    color: #ba6ca9;
    text-align: center;
    margin-top: 80px;
}
#page-header h1 {
    color: #ae78c7;
    font-size: 40px;
    text-align: center;
}
#page-header p{
    text-align: center;
}

/*single product details*/

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image{
    width: 35%;
    margin-right: 50px;
}

.smaal-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 30%;
    cursor: pointer;
    height: 200px;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top:30px ;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
    font-family: 'Lucida Sans';
    color:#7f459a;
}

#prodetails .single-pro-details h2{
    font-size: 25px;
    font-family: 'Lucida Sans';
}

#prodetails .single-pro-details input{
    width:50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details button{
    background-color: #eacff6;
}

#prodetails .single-pro-details span {
    line-height: 25px;

}

/*blog page*/

.blog-header{
    background-image: url("images/blog/banner.jpeg");
    width: 100%;
    height: 80vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#blogs-header h2{
    color: rgb(0, 0, 0)
}

#blogs-header p{
    color: rgb(132, 115, 146);
    font-weight: 700;
    font-size: 20px;
}

#blog{
    padding : 50px 150px 0 150px;
}

#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 50px;
}

#blog .blog-img{
    width: 40%;
    margin-right: 80px;
}

#blog img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#blog .blog-details{
    width: 50%;
}

#blog .blog-details h4{
    color: #510565;
}

#blog .blog-details a{
    text-decoration: none;
    font-size: 12px;
    color: purple;
    font-weight:700 ;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: purple;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover{
    color: black;
}

#blog .blog-details a:hover::after{
    background-color: black;
}

/*About Page*/

#about-head {
    display: flex;
    align-items: center;
    padding-bottom: 100px;
}

#about-head img{
    width: 50%;
    height: 400px;
}

#about-head h2{
    color: #460d69;
    font-weight: 500;
}

#about-head div{
    padding-left: 50px;
}

#about-app{
    text-align: center;
}

#about-app h2{
    padding-bottom: 50px;
    font-weight: 600;
    font-size: 30px;
    color: #b06ac3;
}

#about-app h1{
    padding-top: 50px;
    font-weight: 600;
    font-size: 30px;
}

/*contact page*/

.contact-header{
    background-image: url("images/contact/h1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#contacts-header h2{
    color: rgb(90, 34, 108);
}

#contacts-header p{
    color: rgb(116, 85, 139);
    font-weight: 500;
    font-size: 20px;
}

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details{
    width: 40%;
}

#contact-details .details span,
#form-details form span{
    font-size: 15px;
}

#contact-details .details h2,
#form-details form h2{
    font-size: 23px;
    font-weight: 600;
    line-height: 35px;
    padding: 20px 0;
    color: purple;
}

#contact-details .details h3{
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 15px;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
    color: #4c0760;
}

#contact-details .details li i{
    font-size: 18px;
    padding-right: 22px;
}

#contact-details .details li p{
    margin: 0;
    font-size: 14px;
    color: #684b75;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}

#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px ;
    border: 1px solid purple;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid purple;
    border-radius: 5px;
}

#form-details form button{
    padding: 10px;
    color: purple;
    font-weight: 600;
    border: 1px solid purple;
    background-color: #ead0f5;
    border-radius: 5px;
    cursor: pointer;
}

#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: rgb(83, 0, 128);
}

/*cart page*/

.cart-header{
    background-image: url("images/cart/c1.jpeg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#carts-header h2{
    color: rgb(90, 34, 108);
}

#carts-header p{
    color: black;
    font-weight: 500;
    font-size: 20px;
}


#cart{
    overflow-x: auto;
}

#cart table{
    width: 100%;
    border-collapse:collapse ;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 80px;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
    border: 1px solid purple;
    border-radius: 5px;
}

#cart table thead{
    border: 1px solid purple;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
    color: #7702ad;
}

#cart table tbody tr td{
    padding-top: 18px;
}

#cart table tbody td{
    font-size: 12px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon{
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3{
    padding: 15px;
}

#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border:1px solid purple ;
    border-radius: 4px;
}

#coupon button,
#subtotal button{
    padding: 8px 15px;
    color: rgb(75, 0, 128);
    background-color: rgb(242, 220, 254);
    border: 1px solid purple;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid purple;
    border-radius: 5px;
    padding: 30px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width: 50%;
    border: 1px solid purple;
    padding: 10px;
    font-size: 13px;
}










@media (max-width:799px){
    .section-p1 {
        padding: 20px 20px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top:0;
        right:-300px;
        height:100vh;
        width:300px;
        background-color: rgb(233, 215, 248);
        box-shadow: 0 1px 15px rgba(0, 0, 0 , 0.09);
        padding: 80px 0 0 50px;
        transition: 0.5s;
    }

    #navbar.active{
        right :0;
    }
    #navbar li {
        margin-bottom: 25px;
    }
    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile i{
        color:#8e39b5;
        font-size: 24px;
        padding-left: 20px;
    }
    #close {
        display: initial;
        position: absolute;
        top : 30px;
        left :30px;
        color : #7c24a4;
        font-size: 24px;
    }
    #lg-bag{
        display: none;
    }
    #hero {
        height: 70vh;
        padding: 0px 80px;
        background-position: top 30% right 30%;
    }
    #feature {
        justify-content: center;
    }
    #feature .fe-box {
        margin: 15px 15px;
    }
    #product1 .pro-container {
        justify-content: center;
    }
    #product1 .pro {
        margin: 15px 15px;
    }
    #banner {
        height: 20vh;
    }
    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
        padding: 30px;
        margin-bottom: 20px;
    }
    #banner3 {
        padding: 0 40px;
    }
    #banner3 .banner-box {
        width: 28%;
    }

    /*blog page*/

    .blog-header {
        width: 100%;
        height: 30vh;
    }

    #blog{
        padding: 100px 10px 0 10px;
    }

    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    #blog .blog-img{
        width: 100%;
        margin-bottom: 30px;
    }

    #blog .blog-details{
        width: 100%;
    }

    /*contact page*/

    #form-details{
        padding: 40px;
    }

    #form-details form{
        width: 50%;
    }

}

@media (max-width:477px){

    .section-p1 {
        padding: 20px;
    }
    #header {
        padding: 1px 10px;
    }
    #hero {
        padding: 0px 20px;
        background-position: 65%;
    }
    h2 {
        font-size: 35px;
    }
    h1 {
        font-size: 38px;
    }
    #product1 .pro {
        width: 100%;
    }
    #banner {
        align-items: flex-start;
        justify-content: start;
        text-align: start;
        height: 40vh;;
    }
    #sm-banner .banner-box {
        height: 40vh;
    }
    #sm-banner h4 {
        font-size: 20px;
    }
    #sm-banner h2 {
        font-size: 40px;
    }
    #sm-banner .banner-box2 {
        margin-top: 20px;
    }
    #banner3 {
        padding: 0 20px;
    }
    #banner3 .banner-box {
        width: 100%;
    }
    #banner3 .banner-box2 h2 {
        text-align: center;
    }
    #newsletter h3 {
        font-size: 12px;
    }
    footer .copyright {
        width: 100%;
        text-align: start;
    }
    #prodetails {
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-image{
        width: 100%;
        margin-right: 0px;
    }
    #prodetails .single-pro-details{
        width: 100%;
        margin-left: 5px;
    }


    /*blog page*/

    .blog-header {
        height: 40vh;
        justify-content: start;
        text-align: start;
        flex-direction: column;
    }

    #blogs-header h2 {
        font-size: 30px;
    }

    #blogs-header p {
        font-size: 15px;
    }

    #blog{
        padding: 50px 10px 0 10px;
    }

    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    #blog .blog-img{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    #blog .blog-details{
        width: 100%;
    }

    /*about page*/

    #about-head{
        flex-direction: column;
    }

    #about-head img{
        width: 100%;
        margin-bottom: 50px;
    }

    #about-head div{
        padding-left: 0px;
    }

    #about-head h2 {
        text-align: center;
    }

    /*contact page*/

    #contact-details{
        flex-direction: column;
    }

    #contact-details .details{
        width: 100%;
        margin-bottom: 30px;
    }

    #contact-details .map{
        width: 100%;
    }

    #form-details{
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }
    
    #form-details form{
        width: 100%;
        margin-bottom: 30px;
    }

    /*cart page*/

    #cart-add {
        flex-direction: column;
    }

    #coupon{
        width: 100%;
    }

    #subtotal{
        width: 100%;
        padding: 20px;
    }
}

